@charset "utf-8";


body a {
  text-decoration: none;
}



header{
  background-color: rgb(255,51,51)
}
Aside {
  background-color: rgb(51,51,255)
}
footer{
  background-color: rgb(255,255,51)
}
Aside h1{
  background-color: rgb(51,51,51)
}
.left{
  float:left;
}
.right{
  float:right;
}
.nav{
  display:inline-block;
}
